<script setup lang="ts">
import { computed } from 'vue';
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { TreemapChart } from 'echarts/charts';
import {
    LegendComponent,
} from 'echarts/components';
import VChart from 'vue-echarts'

const props = defineProps<{
    sourceData?: object,
}>();

use([
    CanvasRenderer, LegendComponent, TreemapChart,
]);

let option = computed(() => {
    if (!props.sourceData.length) { return {}; }

    return {
        legend: {
            orient: 'horizontal',
            top: 10,
            right: 'right',
            type: 'scroll',
        },
        series: [
            {
                name: 'World',
                type: 'treemap',
                visibleMin: 300,
                label: {
                    show: true,
                    formatter: '{b}'
                },
                itemStyle: {
                    borderColor: '#fff'
                },
                // levels: getLevelOption(),
                data: props.sourceData,
            }
        ]
    };
});
</script>

<template>
    <div class="treeMap">
        <v-chart :option="option"/>
    </div>
</template>

<style scoped>
.treeMap { height: 600px; width: 800px; }
</style>
